/* Thai Fonts from Google CDN */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Sarabun:wght@400;700&display=swap');

* {
    font-family: 'Sarabun', sans-serif;
}

body {
    font-family: 'Sarabun', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
}
